.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 60px 0 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1 .u-text-1 {
  margin: -319px 670px 0 -30px;
}

.u-section-1 .u-text-2 {
  margin: 60px 700px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 680px;
    margin-right: 570px;
  }

  .u-section-1 .u-text-2 {
    width: 680px;
    margin-right: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 460px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 370px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 100px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: -30px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 598px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 269px;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 244px;
  margin: 15px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 76px auto 30px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 225px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 15px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 15px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1014px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 732px;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3 .u-group-1 {
  width: 855px;
  min-height: 478px;
  margin: 0 auto 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 150px;
  width: 150px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-style: italic;
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-3 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 25px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 108px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 68px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 588px;
}

.u-section-4 .u-text-1 {
  margin: 32px auto 0 85px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 524px;
  margin: -164px 47px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: -328px 667px 85px 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 516px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 497px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -300px;
    margin-right: 116px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 313px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -116px;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 946px;
}

.u-section-5 .u-image-1 {
  width: 673px;
  height: 463px;
  object-position: 100% 50%;
  margin: 117px 0 0 auto;
}

.u-section-5 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/Logo.png");
  background-position: 50% 50%;
  margin: -520px auto 0 71px;
}

.u-section-5 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/DroneinAir.jpg");
  background-position: 46.74% 50%;
  margin: 50px auto 0 156px;
}

.u-section-5 .u-group-1 {
  min-height: 420px;
  width: 545px;
  background-image: none;
  margin: -279px 0 30px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 29px 60px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(128, 128, 128) !important;
  margin: 24px auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: 35px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 615px;
    height: 409px;
    margin-top: 66px;
  }

  .u-section-5 .u-image-2 {
    width: 258px;
    height: 258px;
    margin-top: -415px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 20px;
    margin-left: 101px;
  }

  .u-section-5 .u-group-1 {
    min-height: 545px;
    width: 424px;
    margin-top: -352px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 497px;
    height: 389px;
    margin-top: 334px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -662px;
  }

  .u-section-5 .u-image-3 {
    width: 368px;
    height: 368px;
    margin-top: 228px;
    margin-left: 35px;
  }

  .u-section-5 .u-group-1 {
    min-height: 525px;
    width: 512px;
    margin-top: 23px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-image-1 {
    width: 426px;
    height: 342px;
    margin-top: 387px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -661px;
  }

  .u-section-5 .u-image-3 {
    width: 294px;
    height: 294px;
    margin-top: 274px;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    min-height: 548px;
    margin-top: 166px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-5 .u-image-1 {
    height: 242px;
    width: 294px;
    margin-top: 319px;
  }

  .u-section-5 .u-image-2 {
    width: 224px;
    height: 224px;
    margin-top: -502px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-3 {
    width: 227px;
    height: 227px;
    margin-top: 220px;
  }

  .u-section-5 .u-group-1 {
    min-height: 572px;
    width: 340px;
    margin-top: 130px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 323px;
}

.u-section-6 .u-text-1 {
  margin: 29px auto 0 235px;
}

.u-section-6 .u-text-2 {
  margin: 29px 456px 0 235px;
}

.u-section-6 .u-text-3 {
  margin: -200px 0 54px 704px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 257px;
    margin-left: 204px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 610px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 37px;
    margin-left: 169px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 176px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 111px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 56px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 177px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 642px;
}

.u-section-7 .u-text-1 {
  width: 533px;
  margin: 104px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 420px;
  width: 1020px;
  margin: 49px auto 30px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 53px;
    width: 340px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 822px;
}

.u-section-8 .u-text-1 {
  width: 746px;
  margin: 60px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 633px;
  margin-top: 60px;
  grid-gap: 17px 17px;
  margin-bottom: 30px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-8 .u-gallery-1 {
    height: 522px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-gallery-1 {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-gallery-1 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-gallery-1 {
    height: 189px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 563px;
}

.u-section-9 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-9 .u-gallery-1 {
  height: 434px;
  width: 535px;
  margin: 30px 210px 0 auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-9 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-image-1 {
  width: 192px;
  height: 434px;
  margin: -434px auto 30px 203px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-gallery-1 {
    margin-left: 295px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-gallery-1 {
    margin-left: auto;
    margin-right: 185px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-9 .u-gallery-1 {
    margin-right: 5px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1085px;
  }

  .u-section-9 .u-gallery-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    margin-left: 148px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 769px;
}

.u-section-10 .u-text-1 {
  margin: 53px 324px 0 auto;
}

.u-section-10 .u-text-2 {
  margin: 36px 481px 0 auto;
}

.u-section-10 .u-text-3 {
  margin: 30px 120px 0 180px;
}

.u-section-10 .u-text-4 {
  margin: 106px 448px 0 auto;
}

.u-section-10 .u-text-5 {
  margin: -36px auto 0 12px;
}

.u-section-10 .u-text-6 {
  margin: -36px -57px 0 auto;
}

.u-section-10 .u-list-1 {
  width: 1076px;
  margin: 11px 24px 60px auto;
}

.u-section-10 .u-repeater-1 {
  min-height: 107px;
  grid-template-columns: calc(33.3333% - 74.6667px) calc(33.3333% - 74.6667px) calc(33.3333% - 74.6667px);
  grid-gap: 112px 112px;
}

.u-section-10 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-10 .u-text-7 {
  margin: 0 auto 0 -14px;
}

.u-section-10 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-10 .u-text-8 {
  margin: 0 auto 0 -14px;
}

.u-section-10 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-10 .u-text-9 {
  margin: 0 auto 0 -14px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 267px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 397px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 80px;
    margin-right: 20px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 370px;
  }

  .u-section-10 .u-list-1 {
    width: 940px;
    height: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 205px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 304px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 283px;
  }

  .u-section-10 .u-list-1 {
    width: 720px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 56px) calc(50% - 56px);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 154px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 212px;
  }

  .u-section-10 .u-list-1 {
    width: 540px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 144px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 133px;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 5371px;
}

.u-section-11 .u-image-1 {
  width: 1124px;
  height: 633px;
  margin: 0 0 0 auto;
}

.u-section-11 .u-image-2 {
  width: 1124px;
  height: 633px;
  margin: 0 0 0 auto;
}

.u-section-11 .u-image-3 {
  width: 1124px;
  height: 633px;
  margin: 0 0 0 auto;
}

.u-section-11 .u-text-1 {
  margin: 72px auto 0;
}

.u-section-11 .u-text-2 {
  width: 635px;
  margin: 30px auto 0;
}

.u-section-11 .u-image-4 {
  width: 1124px;
  height: 632px;
  margin: 30px auto 0 0;
}

.u-section-11 .u-image-5 {
  width: 1124px;
  height: 632px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-image-6 {
  width: 1124px;
  height: 632px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-3 {
  width: 635px;
  margin: 58px auto 0;
}

.u-section-11 .u-text-4 {
  width: 688px;
  margin: 30px auto 0;
}

.u-section-11 .u-text-5 {
  margin: 20px 253px 0 252px;
}

.u-section-11 .u-image-7 {
  height: 1008px;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 4749px;
  }

  .u-section-11 .u-image-1 {
    width: 940px;
    height: 529px;
  }

  .u-section-11 .u-image-2 {
    width: 940px;
    height: 529px;
  }

  .u-section-11 .u-image-3 {
    width: 940px;
    height: 529px;
  }

  .u-section-11 .u-image-4 {
    width: 940px;
    height: 529px;
  }

  .u-section-11 .u-image-5 {
    width: 940px;
    height: 529px;
  }

  .u-section-11 .u-image-6 {
    width: 940px;
    height: 529px;
  }

  .u-section-11 .u-text-5 {
    width: 635px;
    margin-right: 153px;
    margin-left: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 4005px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-11 .u-image-2 {
    width: 720px;
    height: 405px;
  }

  .u-section-11 .u-image-3 {
    width: 720px;
    height: 405px;
  }

  .u-section-11 .u-image-4 {
    width: 720px;
    height: 405px;
  }

  .u-section-11 .u-image-5 {
    width: 720px;
    height: 405px;
  }

  .u-section-11 .u-image-6 {
    width: 720px;
    height: 405px;
  }

  .u-section-11 .u-text-5 {
    margin-right: 43px;
    margin-left: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3399px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-11 .u-image-3 {
    width: 540px;
    height: 304px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-image-4 {
    width: 540px;
    height: 304px;
  }

  .u-section-11 .u-image-5 {
    width: 540px;
    height: 304px;
  }

  .u-section-11 .u-image-6 {
    width: 540px;
    height: 304px;
  }

  .u-section-11 .u-text-3 {
    width: 540px;
  }

  .u-section-11 .u-text-4 {
    width: 540px;
  }

  .u-section-11 .u-text-5 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2721px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-image-3 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }

  .u-section-11 .u-image-4 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-image-5 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-image-6 {
    width: 340px;
    height: 191px;
  }

  .u-section-11 .u-text-3 {
    width: 340px;
  }

  .u-section-11 .u-text-4 {
    width: 340px;
  }

  .u-section-11 .u-text-5 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 988px;
}

.u-section-12 .u-text-1 {
  width: 536px;
  margin: 37px auto 0;
}

.u-section-12 .u-group-1 {
  width: 717px;
  min-height: 808px;
  margin: 74px auto 30px;
}

.u-section-12 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-12 .u-image-1 {
  height: 852px;
  margin-top: -44px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .u-section-12 .u-group-1 {
    width: 540px;
  }

  .u-section-12 .u-image-1 {
    height: 642px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    width: 340px;
  }

  .u-section-12 .u-group-1 {
    width: 340px;
  }

  .u-section-12 .u-image-1 {
    height: 404px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 868px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-13 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-13 .u-text-3 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-13 .u-image-1 {
  width: 276px;
  height: 276px;
  background-image: url("images/Logo.png");
  background-position: 50% 50%;
  margin: 60px auto 30px;
}

@media (max-width: 991px) {
  .u-section-13 .u-text-2 {
    width: 720px;
  }

  .u-section-13 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-2 {
    width: 540px;
  }

  .u-section-13 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-2 {
    width: 340px;
  }

  .u-section-13 .u-text-3 {
    width: 340px;
  }
}